*.cmd
*.ko
*.mod.c
*.o
*.order
*.symvers
.tmp_versions
misc-progs/dataalign
misc-progs/datasize
misc-progs/inp
misc-progs/load50
misc-progs/mapcmp
misc-progs/mapper
misc-progs/nbtest
misc-progs/netifdebug
misc-progs/outp
misc-progs/polltest
misc-progs/setconsole
misc-progs/setlevel
